@tailwind base;
@tailwind components;
@tailwind utilities;

.calculator {
    @apply w-64 h-96 mx-auto mt-16 rounded-lg shadow-lg;
    display: flex;
    flex-direction: column;
    background-color: white
}

.display {
    @apply bg-white p-4 text-xl font-semibold text-right;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.buttons {
    @apply p-2 grid grid-cols-4 gap-2;
}

button {
    @apply bg-gray-300 hover:bg-gray-400 active:bg-gray-500 text-gray-800 font-semibold drop-shadow py-2 px-4 rounded;
    border: none;
}